@import "tailwindcss";

@source "../../../**/*.{html,py,js}";

@theme {
  --color-brand-blue: #1a4570;
  --color-brand-orange: #ee8939;
  --color-brand-dark: #123150;
  --color-brand-light: #f0f4f8;

  --font-sans: 'Inter', sans-serif;
}
